{% extends 'web/partials/base.html' %}
{% load static %} 
{% block title%}Update{% endblock %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
  <body>
  
    <section class="news-section py-100">
      <div class="container">
        <h1 class=" fw-bold fs-2 mb-10 pb-30">Our Updates</h1>

        <div class="row gx-3 gy-30">
          {% for update in update %}

          <div class="col-lg-3">

            <!-- blog post 1 -->
            {% comment %} <div class="news-block border px-3 pt-3 pb-30 mb-5">

              <div class="post-thumbnail">
                <img
                  src="{{update.image.url}}"
                  class="w-100"
                  alt="Post Thumnail"
                />
              </div>

              <div class="border-bottom d-flex flex-wrap py-2">
                <a href="" class="text-decoration-none">
                  <i class="fa-regular  pe-2 small text-primary"></i>
                  <span
                    class="little-small fw-bold text-uppercase pe-4 text-muted"
                    >{{update.date}}</span
                  >
                </a>
                {% comment %} <a href="blog-single.html" class="text-decoration-none">
                  <i class="fa-regular fa-user pe-2 small text-primary"></i>
                  <span class="little-small fw-bold text-uppercase text-muted"
                    >by:
                  </span>
                  <span
                    class="little-small fw-bold text-uppercase pe-4 text-primary">{{update.user}}</span
                  >
                </a> 
                 <a href="blog-single.html" class="text-decoration-none">
                  <i
                    class="fa-regular fa-folder-closed pe-2 small text-primary"
                  ></i>
                  <span class="little-small fw-bold text-uppercase text-muted"
                    >posted in:
                  </span>
                  <span class="little-small fw-bold text-uppercase pe-4 text-primary">{{update.posted}}</span>
                </a> 
                <a href="blog-single.html" class="text-decoration-none">
                  <i class="fa-regular fa-message pe-2 small text-primary"></i>
                  <span class="little-small fw-bold text-uppercase text-muted"
                    >comments:
                  </span>
                  <span class="little-small fw-bold text-uppercase text-primary"
                    >{{update.comment}}</span
                  >
                </a> 
              </div>

              
              <p class="mb-0">
                {{update.description}}
              </p>
              <a
                href="{% url 'web:update_detail' update.id %}"
                class="btn btn-secondary mt-4 mb-4 "
                >Read More<i class="icon-arrows-slim-right ps-1"></i></a>

            </div> {% endcomment %}
            <div class="card">
              <div class="image-scale">
                  <a href="" class="">
                      <img src="{{update.image.url}}" alt="Eco"
                          class="img-fluid">
                  </a>
              </div>
              <div class="card-body p-0">
                  <p class="fw-bold normal-small text-uppercase text-muted pt-3">{{update.date}}</p>
                  <h5 class="card-title fw-normal mb-2">{{update.title}}
                  </h5>
                  <p class=" text-muted">{{update.description}}</p>
                  <a href="{% url 'web:update_detail' update.id %}" class="btn btn-sm lamiz-pading-btn btn-secondary">read more</a>
              </div>
          </div>

            <!-- blog post 2 -->
           {% comment %} 
            <div class="news-block border px-3 pt-3 pb-30 mb-5">
              <div class="post-thumbnail">
                <img
                  src="{% static 'web/images/News/2.jpg' %}"
                  class="w-100"
                  alt="Post Thumnail"
                />
              </div>

              <div class="border-bottom d-flex flex-wrap py-2">
                <a href="blog-single.html" class="text-decoration-none">
                  <i class="fa-regular fa-keyboard pe-2 small text-primary"></i>
                  <span
                    class="little-small fw-bold text-uppercase pe-4 text-muted"
                    >Wednesday, Oct 26, 2016</span
                  >
                </a>
                <a href="blog-single.html" class="text-decoration-none">
                  <i class="fa-regular fa-user pe-2 small text-primary"></i>
                  <span class="little-small fw-bold text-uppercase text-muted"
                    >by:
                  </span>
                  <span
                    class="little-small fw-bold text-uppercase pe-4 text-primary"
                    >Administrator</span
                  >
                </a>
                <a href="blog-single.html" class="text-decoration-none">
                  <i
                    class="fa-regular fa-folder-closed pe-2 small text-primary"
                  ></i>
                  <span class="little-small fw-bold text-uppercase text-muted"
                    >posted in:
                  </span>
                  <span
                    class="little-small fw-bold text-uppercase pe-4 text-primary"
                    >finance</span
                  >
                </a>
                <a href="blog-single.html" class="text-decoration-none">
                  <i class="fa-regular fa-message pe-2 small text-primary"></i>
                  <span class="little-small fw-bold text-uppercase text-muted"
                    >comments:
                  </span>
                  <span class="little-small fw-bold text-uppercase text-primary"
                    >0</span
                  >
                </a>
              </div>

              <h2 class="fs-2 py-3 fw-bold mb-0">
                <a href="blog-single.html" class="text-decoration-none"
                  >Top Budget Experts for Planning and Accounting</a
                >
              </h2>
              <p class="mb-0">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, eius
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, eius
                mod tempor incididunt.
              </p>
              <a href="blog-single.html" class="btn btn-secondary mt-4"
                >Read More<i class="icon-arrows-slim-right ps-1"></i
              ></a>
            </div>
 
            <!-- blog post 3 -->
            <div class="news-block border px-3 pt-3 pb-30 mb-5">
              <div class="post-thumbnail">
                <img
                  src="{% static 'web/images/News/3.png' %}"
                  class="w-100"
                  alt="Post Thumnail"
                />
              </div>

              <div class="border-bottom d-flex flex-wrap py-2">
                <a href="blog-single.html" class="text-decoration-none">
                  <i class="fa-regular fa-keyboard pe-2 small text-primary"></i>
                  <span
                    class="little-small fw-bold text-uppercase pe-4 text-muted"
                    >Wednesday, Oct 26, 2016</span
                  >
                </a>
                <a href="blog-single.html" class="text-decoration-none">
                  <i class="fa-regular fa-user pe-2 small text-primary"></i>
                  <span class="little-small fw-bold text-uppercase text-muted"
                    >by:
                  </span>
                  <span
                    class="little-small fw-bold text-uppercase pe-4 text-primary"
                    >Administrator</span
                  >
                </a>
                <a href="blog-single.html" class="text-decoration-none">
                  <i
                    class="fa-regular fa-folder-closed pe-2 small text-primary"
                  ></i>
                  <span class="little-small fw-bold text-uppercase text-muted"
                    >posted in:
                  </span>
                  <span
                    class="little-small fw-bold text-uppercase pe-4 text-primary"
                    >finance</span
                  >
                </a>
                <a href="blog-single.html" class="text-decoration-none">
                  <i class="fa-regular fa-message pe-2 small text-primary"></i>
                  <span class="little-small fw-bold text-uppercase text-muted"
                    >comments:
                  </span>
                  <span class="little-small fw-bold text-uppercase text-primary"
                    >0</span
                  >
                </a>
              </div>

              <h2 class="fs-2 py-3 fw-bold mb-0">
                <a href="blog-single.html" class="text-decoration-none"
                  >Uncommon Wealth Building Wisdom</a
                >
              </h2>
              <p class="mb-0">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, eius
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, eius
                mod tempor incididunt.
              </p>
              <a href="blog-single.html" class="btn btn-secondary mt-4"
                >Read More<i class="icon-arrows-slim-right ps-1"></i
              ></a>
            </div>
            <!-- blog post 4 -->
            <div class="news-block border px-3 pt-3 pb-30 mb-5">
              <div class="post-thumbnail">
                <img
                  src="{% static 'web/images/News/4.png' %}"
                  class="w-100"
                  alt="Post Thumnail"
                />
              </div>

              <div class="border-bottom d-flex flex-wrap py-2">
                <a href="blog-single.html" class="text-decoration-none">
                  <i class="fa-regular fa-keyboard pe-2 small text-primary"></i>
                  <span
                    class="little-small fw-bold text-uppercase pe-4 text-muted"
                    >Wednesday, Oct 26, 2016</span
                  >
                </a>
                <a href="blog-single.html" class="text-decoration-none">
                  <i class="fa-regular fa-user pe-2 small text-primary"></i>
                  <span class="little-small fw-bold text-uppercase text-muted"
                    >by:
                  </span>
                  <span
                    class="little-small fw-bold text-uppercase pe-4 text-primary"
                    >Administrator</span
                  >
                </a>
                <a href="blog-single.html" class="text-decoration-none">
                  <i
                    class="fa-regular fa-folder-closed pe-2 small text-primary"
                  ></i>
                  <span class="little-small fw-bold text-uppercase text-muted"
                    >posted in:
                  </span>
                  <span
                    class="little-small fw-bold text-uppercase pe-4 text-primary"
                    >finance</span
                  >
                </a>
                <a href="blog-single.html" class="text-decoration-none">
                  <i class="fa-regular fa-message pe-2 small text-primary"></i>
                  <span class="little-small fw-bold text-uppercase text-muted"
                    >comments:
                  </span>
                  <span class="little-small fw-bold text-uppercase text-primary"
                    >0</span
                  >
                </a>
              </div>

              <h2 class="fs-2 py-3 fw-bold mb-0">
                <a href="blog-single.html" class="text-decoration-none"
                  >Do You Need Money to Make Money</a
                >
              </h2>
              <p class="mb-0">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, eius
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, eius
                mod tempor incididunt.
              </p>
              <a href="blog-single.html" class="btn btn-secondary mt-4"
                >Read More<i class="icon-arrows-slim-right ps-1"></i
              ></a>
            </div>
            <!-- blog post 5 -->
            <div class="news-block border px-3 pt-3 pb-30 mb-5">
              <div class="post-thumbnail">
                <img
                  src="{% static 'web/images/News/5.png' %}"
                  class="w-100"
                  alt="Post Thumnail"
                />
              </div>

              <div class="border-bottom d-flex flex-wrap py-2">
                <a href="blog-single.html" class="text-decoration-none">
                  <i class="fa-regular fa-keyboard pe-2 small text-primary"></i>
                  <span
                    class="little-small fw-bold text-uppercase pe-4 text-muted"
                    >Wednesday, Oct 26, 2016</span
                  >
                </a>
                <a href="blog-single.html" class="text-decoration-none">
                  <i class="fa-regular fa-user pe-2 small text-primary"></i>
                  <span class="little-small fw-bold text-uppercase text-muted"
                    >by:
                  </span>
                  <span
                    class="little-small fw-bold text-uppercase pe-4 text-primary"
                    >Administrator</span
                  >
                </a>
                <a href="blog-single.html" class="text-decoration-none">
                  <i
                    class="fa-regular fa-folder-closed pe-2 small text-primary"
                  ></i>
                  <span class="little-small fw-bold text-uppercase text-muted"
                    >posted in:
                  </span>
                  <span
                    class="little-small fw-bold text-uppercase pe-4 text-primary"
                    >finance</span
                  >
                </a>
                <a href="blog-single.html" class="text-decoration-none">
                  <i class="fa-regular fa-message pe-2 small text-primary"></i>
                  <span class="little-small fw-bold text-uppercase text-muted"
                    >comments:
                  </span>
                  <span class="little-small fw-bold text-uppercase text-primary"
                    >0</span
                  >
                </a>
              </div>

              <h2 class="fs-2 py-3 fw-bold mb-0">
                <a href="blog-single.html" class="text-decoration-none"
                  >Ease Your Way In To The Stock Market</a
                >
              </h2>
              <p class="mb-0">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, eius
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, eius
                mod tempor incididunt.
              </p>
              <a href="blog-single.html" class="btn btn-secondary mt-4"
                >Read More<i class="icon-arrows-slim-right ps-1"></i
              ></a>
            </div>
            <!-- blog post 6 -->
            <div class="news-block border px-3 pt-3 pb-30 mb-5">
              <div class="post-thumbnail">
                <img
                  src="{% static 'web/images/News/6.png' %}"
                  class="w-100"
                  alt="Post Thumnail"
                />
              </div>

              <div class="border-bottom d-flex flex-wrap py-2">
                <a href="blog-single.html" class="text-decoration-none">
                  <i class="fa-regular fa-keyboard pe-2 small text-primary"></i>
                  <span
                    class="little-small fw-bold text-uppercase pe-4 text-muted"
                    >Wednesday, Oct 26, 2016</span
                  >
                </a>
                <a href="blog-single.html" class="text-decoration-none">
                  <i class="fa-regular fa-user pe-2 small text-primary"></i>
                  <span class="little-small fw-bold text-uppercase text-muted"
                    >by:
                  </span>
                  <span
                    class="little-small fw-bold text-uppercase pe-4 text-primary"
                    >Administrator</span
                  >
                </a>
                <a href="blog-single.html" class="text-decoration-none">
                  <i
                    class="fa-regular fa-folder-closed pe-2 small text-primary"
                  ></i>
                  <span class="little-small fw-bold text-uppercase text-muted"
                    >posted in:
                  </span>
                  <span
                    class="little-small fw-bold text-uppercase pe-4 text-primary"
                    >finance</span
                  >
                </a>
                <a href="blog-single.html" class="text-decoration-none">
                  <i class="fa-regular fa-message pe-2 small text-primary"></i>
                  <span class="little-small fw-bold text-uppercase text-muted"
                    >comments:
                  </span>
                  <span class="little-small fw-bold text-uppercase text-primary"
                    >0</span
                  >
                </a>
              </div>

              <h2 class="fs-2 py-3 fw-bold mb-0">
                <a href="blog-single.html" class="text-decoration-none"
                  >Maybe It’s Not About Knowing More?</a
                >
              </h2>
              <p class="mb-0">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, eius
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, eius
                mod tempor incididunt.
              </p>
              <a href="blog-single.html" class="btn btn-secondary mt-4"
                >Read More<i class="icon-arrows-slim-right ps-1"></i
              ></a>
            </div> {% endcomment %}
          </div>
          {% endfor %}
          {% comment %} <div class="col-lg-3">
            <div class="sidebar d-grid gap-30">
              <div class="vertical-nav">
                <ul class="nav flex-column">
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="about-us.html"
                      >Company overview</a
                    >
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="our-history.html">Our history</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="how-we-work.html">How we work</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="services.html">Services</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="member-all.html">Team member</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="partners.html">Partners</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="careers.html">Career</a>
                  </li>
                </ul>
              </div>

              <div>
                <a
                  href="#"
                  class="btn btn-secondary d-flex gap-2 ps-3 pe-2 align-items-center text-start"
                >
                  <span class="bi bi-file-earmark-pdf fs-5"></span>
                  <span>Download Company Brochures</span>
                </a>
              </div>

              <div class="help bg-primary text-white d-grid gap-3">
                <h4>How Can We Help?</h4>
                <p class="fw-bold">
                  At vero eos et accusam et justou dolores et ea rebum tet clita
                  kasd gubergren no sea takimata.
                </p>
                <div>
                  <a
                    href="#"
                    class="btn btn-sm btn-secondary border-secondary-hover"
                  >
                    <span class="fa-solid fa-envelope"></span>
                    <span>Get in touch</span></a
                  >
                </div>
              </div>

              <div class="investment-testimonial">
                <div class="testimonial-content mb-20 position-relative">
                  <svg
                    version="1.1"
                    class="testimonial-icon"
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    x="0px"
                    y="0px"
                    viewBox="0 0 446 446"
                    xml:space="preserve"
                  >
                    <g>
                      <g>
                        <path
                          d="M109.7,91.08c25.2,0,48.33,10.17,65.12,28.63c17.14,18.84,25.22,43.63,22.74,69.78
                                          c-3.71,39.23-15.88,71.28-37.2,97.99c-17.29,21.66-37.53,38.34-60.17,49.57c-22.52,11.16-48.08,17.27-75.98,18.16
                                          c-0.24,0.01-0.48,0.01-0.71,0.01c-0.66,0-1.15-0.03-1.51-0.07c-0.08-0.49-0.15-1.25-0.15-2.36c-0.02-9.98-0.01-20.19,0-29.19
                                          c0-1.5,0.08-2.47,0.17-3.08c0.6-0.1,1.57-0.21,3.06-0.25c33.95-1.05,64.06-12.79,89.48-34.89c0.54-0.47,1.02-0.93,1.63-1.5
                                          c0.32-0.3,0.7-0.66,1.17-1.1c2.69-2.5,3.58-6.38,2.27-9.81c-1.31-3.43-4.58-5.71-8.25-5.77c-12.4-0.21-23.4-2.23-33.62-6.15
                                          c-17.42-6.69-32.7-19.62-43.03-36.41c-10.3-16.74-14.77-35.83-12.57-53.74c2.55-20.77,11.2-39.32,25.03-53.64
                                          C60.91,103,78.55,94.2,98.18,91.79C102.02,91.32,105.89,91.08,109.7,91.08 M109.7,82.08c-4.14,0-8.35,0.25-12.61,0.78
                                          c-44.23,5.43-78.19,40.62-83.87,86.93c-5.06,41.23,21.52,84.37,61.31,99.65c11.53,4.43,23.48,6.52,36.69,6.75
                                          c-1.33,1.24-1.94,1.84-2.57,2.39c-24.05,20.91-52.05,31.7-83.85,32.68c-9.37,0.29-11.94,2.82-11.95,12.32
                                          c-0.01,9.74-0.02,19.48,0,29.22c0.02,8.21,2.83,11.42,10.66,11.42c0.32,0,0.65-0.01,1-0.02c58.49-1.85,106.39-25.35,142.9-71.11
                                          c23.91-29.96,35.51-64.6,39.12-102.76C212.13,131.1,167.22,82.08,109.7,82.08L109.7,82.08z"
                        ></path>
                      </g>
                      <g>
                        <path
                          d="M336.38,90.78c24.27,0,47.83,10.58,64.64,29.02c8.27,9.08,14.5,19.5,18.5,30.98
                                          c4.18,11.99,5.69,24.54,4.51,37.29c-3.72,39.97-15.88,72.41-37.17,99.15c-17.33,21.77-37.63,38.52-60.32,49.79
                                          c-22.59,11.21-48.24,17.33-76.23,18.19c-0.22,0.01-0.43,0.01-0.63,0.01c-0.62,0-1.09-0.03-1.43-0.07
                                          c-0.06-0.44-0.12-1.08-0.12-2.01c-0.04-10.51-0.04-20.87-0.01-30.8c0-0.87,0.06-1.47,0.11-1.88c0.44-0.08,1.12-0.15,2.11-0.18
                                          c35.5-0.84,66.04-13.07,93.35-37.4c2.77-2.47,3.74-6.38,2.45-9.86c-1.29-3.48-4.58-5.8-8.29-5.86c-17.3-0.28-32.18-4.17-45.5-11.9
                                          c-32.1-18.64-49.39-55.3-43.04-91.22c3.18-18.01,11.71-34.37,24.66-47.31c12.95-12.94,29.31-21.46,47.33-24.63
                                          C326.28,91.22,331.36,90.78,336.38,90.78C336.38,90.78,336.38,90.78,336.38,90.78 M336.37,81.78c-5.47,0-11.04,0.48-16.65,1.46
                                          c-40.44,7.12-72.14,38.8-79.29,79.23c-7.02,39.73,11.99,80.02,47.39,100.57c15.06,8.74,31.36,12.82,49.87,13.12
                                          c-25.68,22.88-54.51,34.34-87.58,35.12c-7.98,0.19-10.99,3.14-11.01,11.02c-0.04,10.29-0.03,20.58,0.01,30.87
                                          c0.03,7.85,2.92,11.04,10.55,11.04c0.3,0,0.6,0,0.91-0.01c58.71-1.8,106.74-25.41,143.32-71.37
                                          c24.13-30.32,35.51-65.42,39.09-103.92C438.36,131.06,392.1,81.77,336.37,81.78L336.37,81.78z"
                        ></path>
                      </g>
                    </g>
                  </svg>
                  <p class="pt-20 fst-italic">
                    “There are two things I look for in a financial adviser.
                    Firstly, a thorough, up to date knowledge of all aspects of
                    government rules and regulations pertaining to
                    superannuation and investments.
                  </p>
                </div>
                <div class="d-flex gap-20">
                  <div>
                    <img src="web/images/foto-man.png" alt="image" />
                  </div>
                  <div class="content">
                    <span class="text-primary fw-bold heading-font"
                      >Alexa Von Tobel</span
                    >
                    <p class="small fst-italic">CEO Finance Consult Manager</p>
                  </div>
                </div>
              </div>
            </div>
          </div> {% endcomment %}
        </div>
      </div>
    </section>


  </body>
</html>
{% endblock %}
