{% extends  'web/partials/base1.html' %}
{% load static %}
{% block title %}Home{% endblock %}

{% block content %}


<body>


    <!-- hero carousal  -->
    <div id="carouselHeoFade" class="carousel slide carousel-fade position-relative">
        <div class="carousel-indicators m-0 p-0">
            <div class="d-grid gap-1">
                <div data-bs-target="#carouselHeoFade" data-bs-slide-to="0" class="active " aria-current="true"
                    aria-label="Slide 1">
                    <p class="ps-4 pt-10">1 - Concept</p>
                </div>
                <div data-bs-target="#carouselHeoFade" data-bs-slide-to="1" aria-current="true" aria-label="Slide 2">
                    <p class="ps-4 pt-10">2 - Design</p>
                </div>
                <div data-bs-target="#carouselHeoFade" data-bs-slide-to="2" aria-current="true" aria-label="Slide 3">
                    <p class="ps-4 pt-10">3 - Development</p>
                </div>
            </div>
        </div>

        <div class="carousel-inner">
            <div class="carousel-item active">
                <!-- hero 1 -->
                <div class="hero-section text-white pb-100 h-100 hero-spacing">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6">
                                <h4 class="small fw-bold body-font pb-10 text-uppercase">Middle-market Private
                                    Equity</h4>
                                <hr class="trans--grow hr1">
                                <h1 class="fw-normal pt-10 pb-3">Investment Expert is one of the <span
                                        class="d-block">largest and
                                        most experienced</span> global private equity investors
                                </h1>
                                <a href="{% url 'web:about' %}" class="btn btn-primary">find out more<i
                                        class="icon-arrows-slim-right ps-1"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- hero 1 end -->
            </div>
            <div class="carousel-item">
                <!-- hero 2 -->
                <div class="hero-section hero-bg-image-2 text-white pb-100 h-100 hero-spacing">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6">
                                <p class="fw-bold heading-font text-uppercase mb-2">PRIVATE EQUITY INVESTORS</p>
                                <h1 class="display-1 text-uppercase body-font fw-normal pb-3 mb-0">Expert Team</h1>
                                <hr class="trans--grow hr1 mt-0 mb-3">
                                <p class="pb-20">We have established a team investment professionals,
                                    <span class="d-block">focused on buyouts and growth equity investments.</span>
                                </p>
                                <a href="{% url 'web:about' %}" class="btn btn-primary">find out more<i
                                        class="icon-arrows-slim-right ps-1"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- hero 2 end -->
            </div>
            <div class="carousel-item">
                <!-- hero 3 -->
                <div class="hero-section hero-bg-image-3 text-white pb-100 h-100 hero-spacing">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-9">
                                <div class="text-center">
                                    <h4 class="fs-6 fw-bold body-font mb-0 text-uppercase custom-letter-spacing">THE
                                        MOST
                                        EXPERIENCED</h4>
                                    <h2 class="display-4 fw-bold custom-letter-spacing-n">
                                        Private Equity Investors Team </h2>
                                    <p class="pb-20"><span class="d-block">We have establishe a team investment
                                            profesionals,
                                            focused</span>
                                        on buyouts and growth equity investments.</p>
                                    <a href="{% url 'web:about' %}" class="btn btn-primary">find out more<i
                                            class="icon-arrows-slim-right ps-1"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- hero 3 end -->
            </div>
        </div>


        <button class="carousel-control-prev" type="button" data-bs-target="#carouselHeoFade" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselHeoFade" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <!-- hero carousal end -->


    
    <!-- hero content -->
    
    <section class="bg-light">
        <div class="container">
            <div class="row g-1">
                {% for sector in sector %}
                <div class="col-lg-3 col-6">
                    <div class="square-menu position-relative w-100 h-100">
                        <div class="figure-block position-relative d-grid gap-10 text-white">
                            <span>
                                <img src="{{sector.icon_image.url}}" alt="">
                            </span>
                            <h5 class="small text-uppercase">{{sector.title}}</h5>
                        </div>
                        <div class="figcaption mw-100 w-100 pe-0 position-absolute">
                            <a href="{% url 'web:sector_detail' sector.id %}" class="btn btn-sm btn-outline-secondary">Know more</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% comment %} <div class="col-lg-3 col-6">
                    <div class="square-menu position-relative w-100 h-100">
                        <div class="figure-block position-relative d-grid gap-10 text-white">
                            <span>
                                <i class="perch perch-middle-market display-4"></i>
                            </span>
                            <h5 class="small text-uppercase">OPERATOR-FIRST PHILOSOPHY</h5>
                        </div>
                        <div class="figcaption mw-100 w-100 pe-0 position-absolute">
                            <a href="#" class="btn btn-sm btn-outline-secondary">Know more</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-6">
                    <div class="square-menu position-relative w-100 h-100">
                        <div class="figure-block position-relative d-grid gap-10 text-white">
                            <span>
                                <i class="perch perch-operator-first display-4"></i>
                            </span>
                            <h5 class="small text-uppercase">FOCUS MARKET SEGMENTATION</h5>
                        </div>
                        <div class="figcaption mw-100 w-100 pe-0 position-absolute">
                            <a href="#" class="btn btn-sm btn-outline-secondary">Know more</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-6">
                    <div class="square-menu position-relative w-100 h-100">
                        <div class="figure-block position-relative d-grid gap-10 text-white">
                            <span>
                                <i class="perch perch-value display-4"></i>
                            </span>
                            <h5 class="small text-uppercase">VALUE ADDED ORIENTATION
                            </h5>
                        </div>
                        <div class="figcaption mw-100 w-100 pe-0 position-absolute">
                            <a href="#" class="btn btn-sm btn-outline-secondary">Know more</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-6">
                    <div class="square-menu position-relative w-100 h-100">
                        <div class="figure-block position-relative d-grid gap-10 text-white">
                            <span>
                                <i class="perch perch-middle-market display-4"></i>
                            </span>
                            <h5 class="small text-uppercase">FOCUS LOWER MIDDLE-MARKET</h5>
                        </div>
                        <div class="figcaption mw-100 w-100 pe-0 position-absolute">
                            <a href="#" class="btn btn-sm btn-outline-secondary">Know more</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-6">
                    <div class="square-menu position-relative w-100 h-100">
                        <div class="figure-block position-relative d-grid gap-10 text-white">
                            <span>
                                <i class="perch perch-strategy display-4"></i>
                            </span>
                            <h5 class="small text-uppercase">BUY & BUILD STRATEGIES</h5>
                        </div>
                        <div class="figcaption mw-100 w-100 pe-0 position-absolute">
                            <a href="#" class="btn btn-sm btn-outline-secondary">Know more</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-6">
                    <div class="square-menu position-relative w-100 h-100">
                        <div class="figure-block position-relative d-grid gap-10 text-white">
                            <span>
                                <i class="perch perch-strategy display-4"></i>
                            </span>
                            <h5 class="small text-uppercase">BUY & BUILD STRATEGIES</h5>
                        </div>
                        <div class="figcaption mw-100 w-100 pe-0 position-absolute">
                            <a href="#" class="btn btn-sm btn-outline-secondary">Know more</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-6">
                    <div class="square-menu position-relative w-100 h-100">
                        <div class="figure-block position-relative d-grid gap-10 text-white">
                            <span>
                                <i class="perch perch-strategy display-4"></i>
                            </span>
                            <h5 class="small text-uppercase">BUY & BUILD STRATEGIES</h5>
                        </div>
                        <div class="figcaption mw-100 w-100 pe-0 position-absolute">
                            <a href="#" class="btn btn-sm btn-outline-secondary">Know more</a>
                        </div>
                    </div>
                </div> {% endcomment %}
            </div>


            <section class="pt-60">
                <div class="container">
                    <div class="pb-60 border-bottom">
                        <div class="row">
                            <div class="col-lg-6">
                                <img src="{% static 'web/images/concrete.jpg' %}" alt="clint" class="img-fluid">
                               
                            </div>
                            <div class="col-lg-6">
                                
                                <div class="pe-4">
                                    {% comment %} <p class="text-underline-sm fw-bold pb-3 text-muted text-uppercase">Our clients know</p> {% endcomment %}
                                    <h2 class="text-underline-sm custom-letter-spacing-n pb-2"><span class="text-primary"> Investment Expert</h2>
                                    <p class="text-muted">We seek to invest in well-positioned companies with operational and
                                        strategic improvement
                                        potential and partner with management teams to create value by driving revenue and
                                        earnings
                                        growth.</p>
                                        <p class="mb-20 text-dark text-opacity-75">Worldwide operations cover business divisions in retail segment for the popular hypermarket brand, shopping mall destinations, food processing plants, wholesale distribution, hospitality properties, and real estate development</p>

                                </div>
                            </div>
                           
                        </div>
                    </div>
                </div>
            </section>


            
            {% comment %} <div class="bg-white">
                <div class="row gx-1">
                    <div class="col-lg-12">
                        <div class="px-30 px-lg-5 pt-40 pb-20">
                            <div class="row gx-30">
                                <div class="col-lg-6">
                                    <img src="{% static 'web/images/istockphoto.jpg' %}" alt="">

                                </div>
                                <div class="col-lg-6">
                                    <h1 class="text-underline-sm pb-3 pe-2"> Investment Expert </h1>
                                        <p class="text-muted "><span
                                                class="mb-20 text-dark text-opacity-75">Founded
                                                in
                                                1980,</span>
                                            Investment Expert is one of
                                            the
                                            largest and most experienced
                                            global private equity firms. We have established a team investment
                                            professionals, focused on buyouts and growth equity investments.</p>
                                            <p class="mb-20 text-dark text-opacity-75">Worldwide operations cover business divisions in retail segment for the popular hypermarket brand, shopping mall destinations, food processing plants, wholesale distribution, hospitality properties, and real estate development</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% comment %} <div class="col-lg-4">
                        <div class="position-relative bg-primary text-white">
                            <div class="pt-4 ps-60 pb-30">
                                <i class="icon-arrows-slim-right icon-arrows-large arrow-icon-nmargin-l"></i>
                                <h5 class="small text-uppercase">Middle-market private equity</h5>
                                <h1 class="display-1 body-font fw-bold lh-1 mb-0">EWT</h1>
                                <p class="mb-0">12 Offices in 11 Countries</p>
                            </div>
                            <div class="position-relative pt-4 ps-60 pb-30 invested">
                                <i class="icon-arrows-slim-right icon-arrows-large arrow-icon-nmargin-l"></i>
                                <h5 class="small text-uppercase">Invested</h5>
                                <h1 class="display-1 body-font fw-bold lh-1 mb-0">$2.4 <span
                                        class="fs-1 body-font fw-bold">B</span>
                                </h1>
                            </div>
                        </div>
                    </div> 
                </div>
            </div> {% endcomment %}
        </div>
    </section>
    <!-- hero content end--> 

    <!-- team section  -->
    <section class="py-60">
        <div class="container">
            <div class="row gy-30">
                {% comment %} <div class="col-lg-4">
                    <div class="">
                        <h2 class="text-underline-sm pb-3 mb-3"><span class="text-primary pe-2">Experienced</span>Team
                        </h2>
                        <p class="text-muted pb-3">Advent has one of the world’s largest and most experienced private
                            equity
                            teams, with more
                            than 170 investment professionals across four continents.</p>
                        <a href="member-all.html" class="btn btn-outline-primary text-dark">meet our team<i
                                class="icon-arrows-slim-right ps-2"></i></a>
                    </div>
                </div> {% endcomment %}
                <div class="col-lg-12">
                    <div id="mySwiper-mg"
                        class="swiper pb-lg-0 pb-5 mySwiper swiper-initialized swiper-horizontal swiper-pointer-events">
                        <div class="swiper-wrapper parent-container" id="swiper-wrapper-151c11395903893b"
                            aria-live="polite" style="transition-duration: 0ms; transform: translate3d(0px, 0px, 0px);">
                            <div class="swiper-slide swiper-slide-active" data-swiper-slide-index="0" role="group"
                                aria-label="1 / 3" style="width: 604.333px; margin-right: 30px;">

                                <div class="card single-team-member h-50">
                                    <div class="team-member-photo">
                                        <img src="{% static 'web/images/members/3.jpg' %}" class="card-img-top"
                                            alt="service image">
                                        <a href="member-details.html"
                                            class="view-full-size text-decoration-none small text-uppercase lh-sm">
                                            <span class="text-white">know more</span>
                                        </a>
                                    </div>
                                    <div class="card-body">
                                        <a href="member-details.html" class="text-decoration-none">
                                            <h5 class="card-title fs-4 fw-normal">Jully Michael</h5>
                                        </a>
                                        <a href="#" class="text-decoration-none"><span
                                                class="extra-small fw-bold text-uppercase text-primary d-block mt-10 mb-3">Sales
                                                &
                                                Marketing</span></a>
                                    </div>
                                </div>


                            </div>
                            <div class="swiper-slide" data-swiper-slide-index="1" role="group" aria-label="2 / 3"
                            style="width: 604.333px; margin-right: 30px;">

                            <div class="card single-team-member h-50">
                                <div class="team-member-photo">
                                    <img src="{% static 'web/images/members/1.jpg' %}" class="card-img-top"
                                        alt="service image">
                                    <a href="member-details.html"
                                        class="view-full-size text-decoration-none small text-uppercase lh-sm">
                                        <span class="text-white">know more</span>
                                    </a>
                                </div>
                                <div class="card-body">
                                    <a href="member-details.html" class="text-decoration-none">
                                        <h5 class="card-title fs-4 fw-normal">Jully Michael</h5>
                                    </a>
                                    <a href="#" class="text-decoration-none"><span
                                            class="extra-small fw-bold text-uppercase text-primary d-block mt-10 mb-3">Sales
                                            &
                                            Marketing</span></a>
                                </div>
                            </div>

                        </div> <div class="swiper-slide" data-swiper-slide-index="1" role="group" aria-label="2 / 3"
                        style="width: 604.333px; margin-right: 30px;">

                        <div class="card single-team-member h-50">
                            <div class="team-member-photo">
                                <img src="{% static 'web/images/members/1.jpg' %}" class="card-img-top"
                                    alt="service image">
                                <a href="member-details.html"
                                    class="view-full-size text-decoration-none small text-uppercase lh-sm">
                                    <span class="text-white">know more</span>
                                </a>
                            </div>
                            <div class="card-body">
                                <a href="member-details.html" class="text-decoration-none">
                                    <h5 class="card-title fs-4 fw-normal">Jully Michael</h5>
                                </a>
                                <a href="#" class="text-decoration-none"><span
                                        class="extra-small fw-bold text-uppercase text-primary d-block mt-10 mb-3">Sales
                                        &
                                        Marketing</span></a>
                            </div>
                        </div>

                    </div>
                            <div class="swiper-slide" data-swiper-slide-index="1" role="group" aria-label="2 / 3"
                                style="width: 604.333px; margin-right: 30px;">

                                <div class="card single-team-member h-50">
                                    <div class="team-member-photo">
                                        <img src="{% static 'web/images/members/1.jpg' %}" class="card-img-top"
                                            alt="service image">
                                        <a href="member-details.html"
                                            class="view-full-size text-decoration-none small text-uppercase lh-sm">
                                            <span class="text-white">know more</span>
                                        </a>
                                    </div>
                                    <div class="card-body">
                                        <a href="member-details.html" class="text-decoration-none">
                                            <h5 class="card-title fs-4 fw-normal">Jully Michael</h5>
                                        </a>
                                        <a href="#" class="text-decoration-none"><span
                                                class="extra-small fw-bold text-uppercase text-primary d-block mt-10 mb-3">Sales
                                                &
                                                Marketing</span></a>
                                    </div>
                                </div>

                            </div>
                            <div class="swiper-slide" data-swiper-slide-index="2" role="group" aria-label="3 / 3"
                                style="width: 604.333px; margin-right: 30px;">


                                <div class="card single-team-member h-50">
                                    <div class="team-member-photo">
                                        <img src="{% static 'web/images/members/2.jpg' %}" class="card-img-top"
                                            alt="service image">
                                        <a href="member-details.html"
                                            class="view-full-size text-decoration-none small text-uppercase lh-sm">
                                            <span class="text-white">know more</span>
                                        </a>
                                    </div>
                                    <div class="card-body">
                                        <a href="member-details.html" class="text-decoration-none">
                                            <h5 class="card-title fs-4 fw-normal">Jully Michael</h5>
                                        </a>
                                        <a href="#" class="text-decoration-none"><span
                                                class="extra-small fw-bold text-uppercase text-primary d-block mt-10 mb-3">Sales
                                                &
                                                Marketing</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="swiper-pagination-id"
                            class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets swiper-pagination-horizontal pb-4">
                            <span class="swiper-pagination-bullet swiper-pagination-bullet-active" tabindex="0"
                                role="button" aria-label="Go to slide 1" aria-current="true"></span>
                            <span class="swiper-pagination-bullet" tabindex="0" role="button"
                                aria-label="Go to slide 2"></span>
                            <span class="swiper-pagination-bullet" tabindex="0" role="button"
                                aria-label="Go to slide 3"></span>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- team section end -->

    {% comment %} <!-- download feature  -->
    <section class="bg-secondary">
        <div class="container">
            <div class="text-white text-center py-60">
                <p class="small text-uppercase fw-bold lh-lg letter-spacing-lg">We have invested $2.4 billion in 150
                    transactions<span class="d-block">across 11 countries”</span>
                </p>
                <h2 class="display-5 fw-bold pb-4 custom-letter-spacing-n">Download Our 2016 Highlights <span
                        class="text-primary">Review</span>
                </h2>
                <a href="{% url 'web:contact' %}" class="btn btn-lg btn-primary py-3">
                    <img src=""  class="pe-2">
                    Contact Now<i class="icon-arrows-slim-right ps-2"></i>
                </a>
            </div>
        </div>
    </section>
    <!-- download feature end --> {% endcomment %}

    <!-- clients section  -->
    <section class="pt-60">
        <div class="container">
            <div class="pb-60 border-bottom">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="pe-4">
                            <p class="text-underline-sm fw-bold pb-3 text-muted text-uppercase">Our clients know</p>
                            <h2 class="custom-letter-spacing-n pb-2"><span class="text-primary">Investment Expert</span>
                                is
                                one
                                of
                                the largest and most experienced
                                global private equity investors</h2>
                            <p class="text-muted">We seek to invest in well-positioned companies with operational and
                                strategic improvement
                                potential and partner with management teams to create value by driving revenue and
                                earnings
                                growth.</p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-4">
                                <img src="{% static 'web/images/client-1.png' %}" alt="clint" class="img-fluid">
                            </div>
                            <div class="col-4">
                                <img src="{% static 'web/images/client-2.png' %}" alt="clint" class="img-fluid">
                            </div>
                            <div class="col-4">
                                <img src="{% static 'web/images/client-3.png' %}" alt="clint" class="img-fluid">
                            </div>
                            <div class="col-4">
                                <img src="{% static 'web/images/client-4.png' %}" alt="clint" class="img-fluid">
                            </div>
                            <div class="col-4">
                                <img src="{% static 'web/images/client-5.png' %}" alt="clint" class="img-fluid">
                            </div>
                            <div class="col-4">
                                <img src="{% static 'web/images/client-6.png' %}" alt="clint" class="img-fluid">
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- clients section end -->

    <!-- download feature  -->
    <section class="bg-secondary">
        <div class="container">
            <div class="text-white text-center py-60">
                <p class="small text-uppercase fw-bold lh-lg letter-spacing-lg">We have invested $2.4 billion in 150
                    transactions<span class="d-block">across 11 countries”</span>
                </p>
                <h2 class="display-5 fw-bold pb-4 custom-letter-spacing-n">Download Our 2016 Highlights <span
                        class="text-primary">Review</span>
                </h2>
                <a href="{% url 'web:contact' %}" class="btn btn-lg btn-primary py-3">
                    <img src=""  class="pe-2">
                    Contact Now<i class="icon-arrows-slim-right ps-2"></i>
                </a>
            </div>
        </div>
    </section>
    <!-- download feature end -->

    <!-- management team -->
    <section class="pt-100 pb-60">
        <div class="container">
            <div class="row gy-5 gallery-image">
                <div class="col-lg-6 col-sm-6">
                    <div class="d-flex gap-4 flex-lg-nowrap flex-wrap ">
                        <div class="flex-shrink-0">
                            <div class="image-scale">
                                <a href="{% static 'web/images/eco-1.png' %}" class="rounded-circle popup-img">
                                    <img src="{% static 'web/images/eco-1.png' %}" alt="Eco">
                                </a>
                            </div>
                        </div>
                        <div class="flex-grow-1">
                            <h4 class="fw-normal">Alexa Von Tobel</h4>
                            <p class="extra-small text-uppercase text-muted">CEO Finance Consult Manager</p>
                            <p class="small text-muted">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad
                            </p>
                            <img src="{% static 'web/images/painting-1.png' %}" alt="signature">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-6">
                    <div class="d-flex gap-4 flex-lg-nowrap flex-wrap ">
                        <div class="flex-shrink-0">
                            <div class="image-scale">
                                <a href="{% static 'web/images/eco-2.png' %}" class="rounded-circle popup-img">
                                    <img src="{% static 'web/images/eco-2.png' %}" alt="Eco">
                                </a>
                            </div>
                        </div>
                        <div class="flex-grow-1">
                            <h4 class="fw-normal">Alexa Von Tobel</h4>
                            <p class="extra-small text-uppercase text-muted">CEO Finance Consult Manager</p>
                            <p class="small text-muted">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad
                            </p>
                            <img src="{% static 'web/images/painting-1.png' %}" alt="signature">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- management team end -->

    <!-- blog section -->
    <section class="py-60 bg-light">
        <div class="container">
            <div class="row gy-30 gallery-image">
                {% comment %} <div class="col-lg-4">
                    <h2 class="text-underline-sm pb-3 mb-3">Our <span class="text-primary">Updates</span></h2>
                    <p class="text-muted">Advent has one of the world’s largest and most experienced private equity
                        teams, with more than
                        170 investment professionals across four continents.</p>
                    <a href="{% url 'web:update' %}" class="btn btn-outline-primary text-dark">view all Updates<i
                            class="icon-arrows-slim-right ps-2"></i></a>
                </div> {% endcomment %}
                <div class="col-lg-12">
                    <div id="mySwiper-mg"
                        class="swiper pb-lg-0 pb-5 mySwiper swiper-initialized swiper-horizontal swiper-pointer-events">
                        <div class="swiper-wrapper parent-container" id="swiper-wrapper-151c11395903893b"
                            aria-live="polite" style="transition-duration: 0ms; transform: translate3d(0px, 0px, 0px);">
                            {% for update in update %}

                            <div class="swiper-slide swiper-slide-active" data-swiper-slide-index="0" role="group"
                                aria-label="1 / 3" style="width: 404px; margin-right: 30px;">

                                <div class="card">
                                    <div class="image-scale">
                                        <a href="#" class="popup-img">
                                            <img src="{{update.image.url}}" alt="Eco"
                                                class="img-fluid">
                                        </a>
                                    </div>
                                    <div class="card-body p-0">
                                        <p class="normal-small text-uppercase text-muted pt-3">{{update.date}}</p>
                                        <h5 class="card-title fw-normal mb-2">{{update.title}}
                                        </h5>
                                        <p class="small text-muted">Lorem ipsum dolor sit amet </p>
                                        <a href="{% url 'web:update_detail' update.id %}" class="btn btn-xs btn-secondary">read more</a>
                                    </div>
                                </div>

                            </div>
                            {% endfor %}
                            {% comment %} <div class="swiper-slide" data-swiper-slide-index="1" role="group" aria-label="2 / 3"
                                style="width: 604.333px; margin-right: 30px;">

                                <div class="card">
                                    <div class="image-scale">
                                        <a href="{% static 'web/images/service-image1-500x340.jpg' %}" class="popup-img">
                                            <img src="{% static 'web/images/service-image1-500x340.jpg' %}" alt="Eco"
                                                class="img-fluid">
                                        </a>
                                    </div>
                                    <div class="card-body p-0">
                                        <p class="normal-small text-uppercase text-muted pt-3">October 26, 2016</p>
                                        <h4 class="card-title fw-normal mb-4">Expert raises $13 billion global private
                                            equity fund
                                        </h4>
                                        <a href="blog-single.html" class="btn btn-xs btn-secondary">read more</a>
                                    </div>
                                </div>

                            </div>
                            <div class="swiper-slide" data-swiper-slide-index="2" role="group" aria-label="3 / 3"
                                style="width: 604.333px; margin-right: 30px;">

                                <div class="card">
                                    <div class="image-scale">
                                        <a href="{% static 'web/images/post-photo3-500x340.png' %}" class="popup-img">
                                            <img src="{% static 'web/images/post-photo3-500x340.png' %}" alt="Eco"
                                                class="img-fluid">
                                        </a>
                                    </div>
                                    <div class="card-body p-0">
                                        <p class="normal-small text-uppercase text-muted pt-3">October 26, 2016</p>
                                        <h4 class="card-title fw-normal mb-4">Expert raises $13 billion global private
                                            equity fund
                                        </h4>
                                        <a href="blog-single.html" class="btn btn-xs btn-secondary">read more</a>
                                    </div>
                                </div>
                            </div> {% endcomment %}
                        </div>
                        <div id="swiper-pagination-id"
                            class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets swiper-pagination-horizontal pb-4">
                            <span class="swiper-pagination-bullet swiper-pagination-bullet-active" tabindex="0"
                                role="button" aria-label="Go to slide 1" aria-current="true"></span>
                            <span class="swiper-pagination-bullet" tabindex="0" role="button"
                                aria-label="Go to slide 2"></span>
                            <span class="swiper-pagination-bullet" tabindex="0" role="button"
                                aria-label="Go to slide 3"></span>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- blog section end -->




</body>

</html>

{% endblock %}

